<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/lodash/dist/lodash.underscore.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="map.js"></script>
<style>
  .angular-google-map-container { height: 920px; }
</style>
<html ng-app="mapApp">
<body ng-controller="mapController">
Starts:<select ng-model="local.start" ng-options-mouseover="logIt()" ng-options="marker.id as marker.longitude for marker in local.markers"></select>  <br />
Ends:  <select ng-model="local.end" ng-options="marker.id as marker.longitude for marker in local.markers"> </select> 
<button ng-click="toggleTrafficLayer()">Traffic</button>
<google-map control="streetView" center="map.center" zoom="map.zoom" draggable="true">
  <layer type="TrafficLayer"  show="showTraffic"></layer>
  <markers models="local.markers" coords="'self'" click="'onClick'" labelContent="'title'" icon="'icon'" >
    <windows show="'showWindow'" closeClick="'close'">
      <div>
          <div ng-controller="infoController">
             <button ng-click="onStartClick()">Start Here</button>
             <button ng-click="onEndClick()">End Here</button>
             <button ng-click="onStreetViewClick()">Street View</button>
          </div>
        This is a window for id {{ id }}.
      </div>
    </windows>
  </markers>
</google-map>

</html>
