<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/lodash/dist/lodash.underscore.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="map.js"></script>
<script src="services.js"></script>
<style>
  .angular-google-map-container { height: 920px; }
</style>
<html ng-app="mapApp">
<body ng-controller="mapController">
Starts: <select ng-model="map.local.route.start" 
          ng-options="marker.id as marker.id for marker in map.local.markers"></select><br />
Ends: <select ng-model="map.local.route.end" 
        ng-options="marker.id as marker.id for marker in map.local.markers"> </select> 
<button ng-click="map.toggleTrafficLayer()">Traffic</button>
<google-map control="map.streetView" center="map.center" zoom="map.zoom" draggable="true">
  <layer type="TrafficLayer"  show="map.showTraffic"></layer>
  <markers models="map.local.markers" coords="'latlng'" click="'onClick'" labelContent="'title'" icon="'icon'" >
    <windows show="'showWindow'" closeClick="'close'">
      <div>
          <div ng-controller="infoController">
             <button ng-click="onStartClick()">Start Here</button>
             <button ng-click="onEndClick()">End Here</button>
             <button ng-click="onStreetViewClick()">Street View</button>
          </div>
        This is a window for id {{ id }}.
      </div>
    </windows>
  </markers>
</google-map>

</html>
